<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8"> <!-- Кодировка сайта -->
    <!-- Сайт готов работать с мобильными устройствами -->
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Загружаем фав-иконки -->
    <link rel="icon" href={% static "img/fav/favicon1.ico" type="image" %}>
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="black">
    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <title>
      {{ title }}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <div class="container">
      <main>
        <br>
        {% block header %}
          <h1>{{ header }}</h1>
        <br>
          {% endblock %}
        {% block content %}
          Произошла ошибка загрузки контента страницы
        {% endblock %}
    </div>
    </main>
    <footer>
      {% include 'includes/footer.html' %} 
    </footer>
  </body>
</html> 