{% extends 'base.html' %}
{% block content %}
  <hr>
  <div>
    <article>
        <h3>{{ content.header }}</h3>
        <ul>
          <li><a href='https://github.com/akchau'>Мой профиль на github</li>
          <li><a href='https://t.me/lg_gl_1'>Написать в телеграмм</li>
          <li><a href='https://career.habr.com/akchau'>Мой Хабр</li>
          <li><a href='https://www.linkedin.com/in/gleb-lazarev/'>Линк</li>
        <ul>

        Привет! Меня зовут Глеб!
        <br>Я начинающий backend-разработчик. Этот сайт я разработал в рамках учебного проекта на курсах Яндекс.Практикум
        <br>Для связи со мной пишите по ссылкам выше.
    </article>
  </div>
{% endblock %}