{% if user.is_authenticated %}
  <div class="row my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a 
          class="nav-link {% if request.resolver_match.view_name  == 'posts:authors' %}active{% endif %}"
          href="{% url 'posts:authors' %}"
        >
          Все авторы
        </a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link {% if request.resolver_match.view_name  == 'posts:following_authors' %}active{% endif %}"
          href="{% url 'posts:following_authors' %}"
        >
          Подписки
        </a>
      </li>
    </ul>
  </div>
{% endif %}