{% extends 'base.html' %}
{% block content %}
  <div>
    <article>
      {% block avatar %}
      {% endblock %}
      {% if user.is_authenticated %}
        {% block top_button %}
          <form method="LINK" action="{% url 'posts:post_create' %}">
            <input type="submit" value="Новая запись">
          </form>
        {% endblock %}
        {% block user_button %}
        {% endblock %}
      {% endif %}
      <br>
      {% include 'posts/includes/paginator.html' %}
      {% block list %}
      {% endblock %}
      {% include 'posts/includes/paginator.html' %}
    </article>
  </div>
{% endblock %}