{% extends 'base.html' %}
{% block content %}
  <div>
    <article>
      {% block avatar %}
      {% endblock %}
      {% if user.is_authenticated %}
        {% block top_button %}
        {% endblock %}
        <br>
        {% block user_button %}
        {% endblock %}
      {% endif %}
      <br>
      {% include 'posts/includes/switcher.html' %}
      {% include 'posts/includes/paginator.html' %}
      {% block list %}
      {% endblock %}
      {% include 'posts/includes/paginator.html' %}
    </article>
  </div>
{% endblock %}