{% extends 'base.html' %}
{% block content %}
  <div>
    <article>
      {% block avatar %}
      {% endblock %}
      {% block buttons %}
      {% endblock %}
      <br>
      {% if switcher %}
        {% block switcher %}
          {% include 'posts/includes/switcher.html' %}
        {% endblock %}
      {% endif %}
      {% include 'posts/includes/paginator.html' %}
      {% block list %}
      {% endblock %}
      {% include 'posts/includes/paginator.html' %}
    </article>
  </div>
{% endblock %}