{% extends 'posts/base_post.html' %}
{% block avatar %}
{% endblock %}
{% block buttons %}
  <div class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="nav nav-pills">
        {% if self_follow %}
          {% if following %}
            <li class="nav-item"> 
              <a class="nav-link"
                href="{% url 'posts:profile_unfollow' author.username %}"
                >Отписаться</a>
            </li>
          {% else %}
            <li class="nav-item"> 
              <a class="nav-link"
                href="{% url 'posts:profile_follow' author.username %}"
                >Подписаться</a>
            </li>
          {% endif %}
        {% endif %}
        <li class="nav-item"> 
          <a class="nav-link"
            href="{% url 'posts:post_create' %}"
            >Новая запись</a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}
{% block switcher %}
  {% include 'posts/includes/group_switcher.html' %}
{% endblock %}
{% block list %}
  {% for post in page_obj %}
    {% include 'posts/includes/post.html' %}
  {% endfor %}
{% endblock %}