{% extends 'base.html' %}
{% block content %}
<h3>Данные пользователя</h3>
<hr>
<p><h5>Имя пользователя: {{ user.get_full_name}} <small><a href="{% url 'users:edit_name' user.username %}">изм.</a></small></h5>
<p><h6>Логин: {{ user.username}} <small><a href="{% url 'users:password_change' %}">изм.</a></small></h6>
<p><h6>Email: {{ user.email}} <small><a href="{% url 'users:password_change' %}">изм.</a></small></h6>
<hr>
    <h3>Профиль</h3>
<ul>
  <li>
    Посты
  </li>
  <li>
    Подписчики
  </li>
  <li>
    Подписки
  </li>
  <li>
    Группы
  </li>
</ul>
<hr>
<h3>Управление аккаунтом</h3>
<ul>
  <li class="nav-item"> 
    <a href="{% url 'users:password_change' %}">Изменить пароль</a>
  </li>
  <li class="nav-item"> 
    <a href="{% url 'users:password_reset' %}">Сбросить пароль</a>
  </li>
  <li class="nav-item"> 
    <a href="{% url 'users:logout' %}">Выйти</a>
  </li>
</ul>
{% endblock %}